<p style="color: green"><%= notice %></p>

<h1>Poems</h1>

<div id="poems">
  <% @poems.each do |poem| %>
    <%= render poem %>
    <p>
      <%= link_to "Show this poem", poem %>
    </p>
  <% end %>
</div>

<%= link_to "New poem", new_poem_path %>
